@import "tailwindcss";

:root {
  --background: #ffffff;
}


body * {
  font-family: 'Poppins', sans-serif;
}

/* @theme is a valid Tailwind CSS v4 directive */
@theme {
  --color-accent: #212121;
  --color-neutral-200: #E4E4E4;
  --color-neutral-400: #A2A2A2;
  --color-neutral-900: #171717;
  --color-gray-3:#C7C7CC;
  --color-gray-600: #757575;
  --color-gray-700:#616161;
  --color-error: #D80027;
  --color-info: #0288D1;
  --color-light-info: #EFF9FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/poppins-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/poppins-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/poppins-regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/poppins-medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/poppins-semibold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/poppins-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/poppins-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/poppins-black.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 950;
  src: url('/fonts/poppins-black.ttf')
      format('truetype');
}

body {
  background: var(--background);
  color: var(--color-accent);
  font-family: 'Poppins', sans-serif;
}
