@import "tailwindcss";

:root {
  --background: #ffffff;
}


body * {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-accent: #212121;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/poppins-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/poppins-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/poppins-regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/poppins-medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/poppins-medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/poppins-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/poppins-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/poppins-black.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 950;
  src: url('/fonts/poppins-black.ttf')
      format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
